{% if chatbots %}
    {% for chatbot in chatbots %}
    <style>
    button {
        border-radius:16 ;
        text-align:center;
        cursor: pointer;
        width:87%;
        margin-left:auto;
        margin-right:auto
        margin-top:10px;
        padding:10px;
        font-size:14px;
        color:#ffffff;
        background:#7b684a;
        border: none;
    }
    </style>
        <h1>Hello there! I'm {{ chatbot.nama }}</h1>
        <p>I'm the locals guide and a good friend of Praj</p>
        <br>
        <p><b>Please Click here to get to know me better</b></p>
        <br>
        <a class="btn" href="{{ chatbot.url }}">
        <button class="btn" type="button" >{{ chatbot.nama }}</button>
    {% endfor %}
{% else %}
    <p>No chatbot found.</p>
{% endif %}