<style>
    .post-img {
        width: 100%;
    }
    .post-url {
        text-align:right;
        border-radius:10px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        padding:10px;
        font-size:14px;
        color:#ffffff;
        background:#7b684a; 
        border:none;
    }
    .place-post {
        margin-bottom: 20px;
    }
    .place-div {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
    }
</style>
<b>Here are recommended places we find around <i>{{ place_name }}</i>:</b>

<ul>
{% for place in places %}
<li>
    <div class="place-div">
        <p><b>{{ place.name }}</b></p>
        {% if place.posts %}
        <p><i>We find some interesting photos about it too.</i></p>
        {% for post in place.posts %}
            <div class="place-post">
                <img class="post-img" src="{{ post.0 }}">
                <br>
                <text class="post-url" onclick="window.open('{{ post.1 }}', '_blank');" > <i>Click to view on Instagram </i></text>
            </div>
            {% endfor %}
        {% else %}
        <p><i>Unfortunately, we can't find interesting photos about this place...</i></p>
        {% endif %}
    </div>
</li>
{% endfor %}
</ul>