<style>
    .mapsbuttondiv {
        border-radius: 8px;
        text-align:center;
        margin-left:10px;
        margin-top:10px;
        padding:10px;
        font-size:15px;
        color:#ffffff;
        background:#7b684a;
        border:none;
    }
</style>
<div class="mapsbuttondiv" onclick="window.open('http://maps.google.com/?q={{ coordinate.0 }},{{ coordinate.1 }}', '_blank');">Click here to view in maps app</div></a>