{% if coordinate.length == 0 %}
<p>Sorry, we couldn't find anything.</p>
<p>Please try another input.</p>
{% else %}
<div id="mapdiv"></div>
<script src="https://ferry-chatbot-api.herokuapp.com/static/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    var a = {{ coordinate.0 }};
    var b = {{ coordinate.1 }};
    var lonLat = new OpenLayers.LonLat(b, a)
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );    
    var zoom=16;
  
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));
      
    map.setCenter (lonLat, zoom);
</script>
{% endif %}