<p>Here are some tips for your expenses from the locals:</p>
<br>
<img src="https://i.postimg.cc/cJkYcFPQ/top-view-women-eating-barbecue-chicken-wings-with-fries-salad-with-juice-table.jpg" alt="foods image" width="240">
<p>Rational price for foods there: {{ makanan_minimum }} - {{ makanan_maximum }}</p>
<br>
<p>Rational price for your accomodation:</p>
    <li>Backpacker  : {{ penginapan_backpacker }}</li> 
    <img src="https://i.postimg.cc/Qd2ZWDd5/female-tourists-are-enjoying-forest.jpg" alt="backpacker" width="240"> <br>
    <li>Business    : {{ penginapan_ekonomis }}</li>
    <img src="https://i.postimg.cc/wjJbZm9y/success-business.jpg" alt="business" width="240"> <br>
    <li>Luxurious   : {{ penginapan_luxury }}</li>
    <img src="https://i.postimg.cc/RVQzJynb/handsome-stylish-man-posing-outdoor-hotel-lying-bed.jpg" alt="luxurious" width="240"> <br>
