<style>
    .post-img {
        width: 100%;
    }
    .post-url {
        text-align:right;
        border-radius:10px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        padding:10px;
        font-size:14px;
        color:#ffffff;
        background:#7b684a; 
        border:none;
    }
</style>
{% if posts|length > 0 %}
<b>Here are what we find about <i>{{ keyword }}</i>:</b>
{% for post in posts %}
<div>
    <img class="post-img" src="{{ post.0 }}">
    <br>
    <text class="post-url" onclick="window.open('{{ post.1 }}', '_blank');" > <i>Click to view on Instagram </i></text>
</div>
<br>
{% endfor %}
{% else %}
Sorry, we don't have any suggestions about that right now. Please come back later or input something else &#128513;
<br>
{% endif %}